In [46]:
import tushare as ts
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt

pro = ts.pro_api('bdce60b38d1f23073a29815bccdda57e7b4dcd4b10bd91d269a737d1') #这里需要填写你注册好的Tushare的TOKEN凭证

In [47]:
ticker_data = pro.daily(ts_code='600377.SH')
print('数据量：',len(ticker_data))
ticker_data.head(5)

数据量： 4765

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600377.SH,20201231,9.12,9.22,9.09,9.21,9.12,0.09,0.9868,47923.58,43817.975
1,600377.SH,20201230,9.11,9.14,9.06,9.12,9.09,0.03,0.3300,34856.33,31723.352
2,600377.SH,20201229,9.11,9.15,9.06,9.09,9.09,0.00,0.0000,34523.51,31434.995
3,600377.SH,20201228,9.16,9.21,9.08,9.09,9.15,-0.06,-0.6557,55383.14,50630.824
4,600377.SH,20201225,9.19,9.26,9.14,9.15,9.18,-0.03,-0.3268,35358.39,32504.095

In [50]:
import pandas as pd
ticker_data.to_excel('C:\\Users\\Lenovo\\Desktop\\daily.xlsx')